body{
    background-color: #ac6de6;
    color: rgb(234, 241, 19);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-style: italic;
}
li.especial{
    font-weight: bold;
    transition: 1.5s all;
}
.especial:hover{
    color: rgb(152, 23, 66);
}
section p,p {
    text-decoration: underline;
    cursor: pointer;

}

#profile{
    width: 200px;
}